.DS_Store
ludum-dare-51/UserSettings/Layouts/default-2022.dwlt
ludum-dare-51/fmod_editor.log
ludum-dare-51/ProjectSettings/CommonBurstAotSettings.json
ludum-dare-51/ProjectSettings/BurstAotSettings_StandaloneWindows.json
[Bb]uilds/